<div class="text-center">
    <h1>Chain Stitch</h1>
</div>

<p>
    - Make a slip knot.<br>
    - Hold your hook in front of the working yarn and face the tip towards you.<br>
    - Yarn over by bringing your hook below and behind the working yarn.<br>
    - Pull the yarn through the loop on your hook and leave one loop on your hook.<br>
    - Repeat these steps to make more chain stitches.
</p>

<p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/chSDit06z24"></iframe>
</p>