<div class="text-center">
    <h1>Double Stitch</h1>
</div>

<p>
    - Start with a chain stitch.<br>
    - Yarn over.<br>
    - Insert hook into the next stitch, yarn over, and pull up a loop.<br>
    - Yarn over, and pull through two loops on the hook.<br>
    - Yarn over again, and pull through both loops on the hook.
</p>

<p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/UyTpL2ylNQw"></iframe>
</p>

<div class="text-center">
    <a asp-controller="Stitches" asp-action="Index">Back</a>
</div>