<div class="text-center">
    <h1>Half Double Stitch</h1>
</div>

<p>
    - Start with a chain stitch.<br>
    - Yarn over and insert the hook into the next stitch.<br>
    - Yarn over and pull up a loop. You should now have three loops on your hook.<br>
    - Yarn over again, and pull the yarn through all three loops on the hook.
</p>

<p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/mTpG3AMJeAQ"></iframe>
</p>

<div class="text-center">
    <a asp-controller="Stitches" asp-action="Index">Back</a>
</div>