<div class="text-center">
    <h1>Single Stitch</h1>
</div>

<p>
    - Start with a chain stitch.<br>
    - Insert hook into the next stitch, yarn over, and pull up a loop.<br>
    - Then, yarn over again and pull through both loops on the hook.
</p>

<p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/fmcxJuhct00"></iframe>
</p>

<div class="text-center">
    <a asp-controller="Stitches" asp-action="Index">Back</a>
</div>