<div class="text-center">
    <h1>Triple Stitch</h1>
</div>

<p>
    - Start with a chain stitch.<br>
    - Yarn over twice.<br>
    - Insert hook into the next stitch and draw loop through - 6 loops on the hook.<br>
    - Yarn over and draw through two loops, repeat this four more times.
</p>

<p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/CBMmiMMtx6o"></iframe>
</p>