html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Carousel Styling */
.carousel-item img {
    max-width: 400px;
    max-height: 300px;
    margin: auto;
}

#carouselIndicators {
    background-color: black;
    max-width: 500px;
    max-height:300px;
    margin: auto;
}

/* Navbar Styling */
.navbar, .navbar * {
    background-color:plum;
}

.navbar-nav {
    background-color:plum;
}